__pycache__/
.DS_Store
.venv/
.pixi/
*.pyc
.mypy*
.veny*
logs/
scripts/logs/
*.log
*.png
.ipynb_checkpoints/
input_data/snow_water_equivalent/SNODAS/monthly_data
input_data/snow_water_equivalent/SNODAS/daily_data
input_data/soil_moisture/
input_data/soil_moisture/NLDAS/data_monthly
input_data/soil_moisture/NLDAS/data_concatenated
input_data/reservoirs/CDEC/monthly_sums
input_data/reservoirs/CDEC/monthly_sums/*.csv
input_data/reservoirs/CDEC/monthly_sums/*.xlsx
input_data/reservoirs/CDEC/reservoir_data
input_data/snow_water_equivalent/SNODAS/daily_data
input_data/snow_water_equivalent/SNODAS/masks/basin_masks
input_data/snow_water_equivalent/SNODAS/masks/repaired_masks
input_data/snow_water_equivalent/SNODAS/monthly_data
input_data/grace_tws/masks
input_data/grace_tws/monthly_grace_anomaly
input_data/grace_tws/monthly_interpolated_grace_anomaly
output/