*
!.gitignore
!anomaly_timeseries_SNODAS_california_mask.csv
!anomaly_timeseries_SNODAS_sacramento_mask.csv
!anomaly_timeseries_SNODAS_san_joaquin_mask.csv
!anomaly_timeseries_SNODAS_tulare-buena_vista_lakes_mask.csv
!anomaly_timeseries_NLDAS_tulare-buena_vista_lakes_mask_20260422_183804.csv
!anomaly_timeseries_NLDAS_san_joaquin_mask_20260422_181759.csv
!anomaly_timeseries_NLDAS_sacramento_mask_20260422_180040.csv
!anomaly_timeseries_NLDAS_california_mask_20260514_125644.csv
!anomaly_timeseries_CDEC_california_mask.csv
!anomaly_timeseries_CDEC_sacramento_mask.csv
!anomaly_timeseries_CDEC_san_joaquin_mask.csv
!anomaly_timeseries_CDEC_tulare-buena_vista_lakes_mask.csv
!anomaly_timeseries_GRACE_california_mask.csv
!anomaly_timeseries_GRACE_sacramento_mask.csv
!anomaly_timeseries_GRACE_san_joaquin_mask.csv
!anomaly_timeseries_GRACE_tulare-buena_vista_lakes_mask.csv